.logo{
    font-size: 1.2em;
}

.list-view .content{
    display: flex;
}

.list-view .books-grid{
    flex: 2;
}

.list-view .book-form{
    flex: 1;
    padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
    .list-view.editing .toolbar,
    .list-view.editing .books-grid {
        display: none;
    }
}